/* import google fonts here */

#welcome-header {
  text-align: center;
}

/* Login Portal */
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.login-button {
  margin: 100px;
}

/* Sign Up Form */
.signup-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.outlined-required {
  align-items: center;
}

/* Main Container */
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Add Link Modal */
.modal-title {
  text-align: center;
}